.myServices-main {
    width: 100vw;
    background-color: #F5EDE8;
    position: relative;
    display: flex;
    overflow: hidden;
}

.myServices-content {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
    gap: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.myServices-text {
    display: flex;
    flex-direction: column;
}

.myServices-title {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}

.myServices-list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 30px;
}

.myServices-photo {
    width: 30vw;
    height: 75vh;
    border-radius: 10px;
    object-fit: cover;
    object-position: bottom;
}

.myServices-image-first,
.myServices-image-second {
    position: absolute;
    z-index: 0;
}

.myServices-image-first {
    width: 25%;
    bottom: 10%;
    left: 4%;
}

.myServices-image-second {
    width: 25%;
    top: 5%;
    right: 3%;
}

@media (min-width: 1900px) {
    .myServices-photo {
        width: 30vw;
        height: 75vh;
    }
}

@media (max-width: 719px) {
    .myServices-content {
        display: flex;
        text-align: justify;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
        gap: 0;
    }
    
    .myServices-title {
        font-size: 32px;
    }

    .myServices-list {
        margin-top: 20px;
    }

    .myServices-photo {
        width: 330px;
        height: 420px;
    }

    .myServices-image-second,
    .myServices-image-first {
        display: none;
    }
}

@media (min-width: 720px) and (max-width: 1200px) {
    .myServices-content {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .myServices-photo {
        width: 430px;
        height: 570px;
    }

    .myServices-frame {
        position: static;
    }
    
    .myServices-image-first {
        width: 35%;
        bottom: 5%;
        left: -2%;
    }
    
    .myServices-image-second {
        width: 35%;
        top: 5%;
        right: -3%;
    }

    .myServices-image-first {
        width: 50%;
        bottom: 5%;
        left: 0%;
    }
    
    .myServices-image-second {
        width: 50%;
        top: 0%;
        right: 0%;
        left: 55%;
    }
}