.main {
    width: 100vw;
    height: auto;
    margin: 0;
    background-color: #F5EDE8;
}

.main-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-photo {
    height: 100vh;
    margin-top: -60px;
    animation: fadeInRight 0.8s ease-out forwards;
    animation-delay: 0.6s;
    opacity: 0;
}

@media (min-width: 1920px) {
    .main-photo {
        margin-top: -80px;
    }
}

@media (max-width: 720px) {
    .main-center {
        flex-direction: column;
    }

    .main-photo {
        width: 350px;
        height: auto;
        margin: auto;
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        animation: fadeInUp 0.8s ease-out forwards;
        animation-delay: 0.6s;
    }
}