.reviews-main {
    width: 100vw;
    height: auto;
    min-height: 635px;
    margin: 0;
    background-color: #F5EDE8;
}

.reviews-content {
    display: flex;
    flex-direction: column;
}

.reviews-title {
    font-weight: 400;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 40px;
    animation: fadeInUp 0.8s ease-out forwards;
}

.reviews-slider-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    animation: fadeInUp 0.8s ease-out forwards;
    padding: 10px;
}

.reviews-slider-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    z-index: 0;
    position: relative;
}

.reviews-slider-child {
    min-width: 30%;
    width:max-content;
}

.reviews-bgArrow {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

@media (min-width: 1920px) {
    .reviews-title {
        font-size: 52px;
    }
}

@media (min-width: 2560px) {
    .reviews-title {
        font-size: 60px;
    }
}

@media (max-width: 719px) {
    .reviews-main {
        min-height: 515px;
    }

    .reviews-slider-main {
        margin-bottom: 0px;
    }

    .reviews-slider-container {
        padding: 0;
        gap: 0;
    }

    .reviews-slider-child {
        min-width: 100%;
    }

    .reviews-title {
        font-size: 32px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

@media (min-width: 719px) and (max-width: 1200px) {
    .reviews-slider-main {
        margin-bottom: 20px;
    }

    .reviews-bgArrow {
        margin-bottom: 90px;
    }

    .reviews-slider-container {
        padding: 0;
        gap: 0;
    }

    .reviews-slider-child {
        min-width: 50%;
    }
}