.reviews-main {
    width: 100vw;
    margin: 0;
    background-color: #F5EDE8;
    display: flex;
    position: relative;
}

.reviews-content {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
}

.reviews-title {
    font-weight: 400;
    font-size: 40px;
    margin: 0 0 40px 0;
}

.reviews-slider-content {
    width: 90%;
    padding: 10px 0;
}

.reviews-slider-item {
    min-width: 33.5%;
}

.reviews-slider-arrow.left {
    left: 0px;
}

.reviews-slider-arrow.right {
    right: 0px;
}

.reviews-slider-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    padding: 10px 0 0 0;
}

.reviews-slider-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0;
    z-index: 0;
    position: relative;
}

.reviews-slider-child {
    min-width: 100%;
    width:max-content;
}

.reviews-bgArrow {
    margin-left: auto;  
    margin-right: auto;
}

.reviews-image-first,
.reviews-image-second {
    position: absolute;
    z-index: 0;
}

.reviews-image-first {
    width: 25%;
    bottom: 5%;
    left: 5%;
}

.reviews-image-second {
    width: 25%;
    top: 5%;
    right: 5%;
}

@media (max-width: 719px) {
    .reviews-content {
        margin-top: 40px;
        margin-bottom: 50px;
    }
    
    .reviews-title {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .reviews-review {
        width: 300px;
    }
}

@media (min-width: 719px) and (max-width: 1200px) {
    .reviews-content {
        margin-bottom: 60px;
    }

    .reviews-slider-main {
        margin-bottom: 20px;
    }

    .reviews-slider-child {
        min-width: 50%;
    }

    .reviews-review {
        width: 300px;
    }

    .reviews-image-first {
        width: auto;
        height: 60%;
        bottom: 5%;
        left: 0%;
    }
    
    .reviews-image-second {
        width: auto;
        height: 60%;
        top: 5%;
        right: 0%;
    }
}