.reviews-main {
    width: 100vw;
    margin: 0;
    background-color: #F5EDE8;
    display: flex;
    position: relative;
}

.reviews-content {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
}

.reviews-title {
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 40px;
}

.reviews-slider-content {
    width: 90%;
    padding: 10px 0;
}

.reviews-slider-item {
    min-width: 33.5%;
}

.reviews-slider-arrow.left {
    left: 0px;
}

.reviews-slider-arrow.right {
    right: 0px;
}

.reviews-bgArrow {
    margin-left: auto;  
    margin-right: auto;
    margin-top: -10px;
    margin-bottom: 30px;
}

.reviews-image-first,
.reviews-image-second {
    position: absolute;
    z-index: 0;
}

.reviews-image-first {
    width: 25%;
    bottom: 10%;
    left: 4%;
}

.reviews-image-second {
    width: 25%;
    top: 5%;
    right: 3%;
}

@media (max-width: 719px) {
    .reviews-slider-main {
        margin-bottom: 0px;
        padding: 10px 0px;
    }

    .reviews-slider-container {
        padding: 0;
        gap: 0;
    }

    .reviews-slider-child {
        min-width: 100%;
    }

    .reviews-review {
        width: 300px;
    }

    .reviews-title {
        font-size: 32px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

@media (min-width: 719px) and (max-width: 1200px) {
    .reviews-slider-main {
        margin-bottom: 20px;
    }

    .reviews-bgArrow {
        margin-bottom: 90px;
    }

    .reviews-slider-container {
        padding: 0;
        gap: 0;
    }

    .reviews-slider-child {
        min-width: 50%;
    }

    .reviews-review {
        width: 300px;
    }
}