.mainTitle-main {
    margin-top: 150px;
}

.mainTitle-subtitle {
    margin: 0;
    font-weight: 400;
}

.mainTitle-title {
    width: 400px;
    font-size: 70px;
    font-weight: 400;
    margin: 20px 0 0 0;
    color: #7cb1c7;
}

.mainTitle-button {
    width: 340px;
    height: 55px;
    background-color: #DFCFC8;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 24px;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.5s ease;
}

.mainTitle-button:hover {
    background-color: #7cb1c7;
    scale: 1.05;
}