.help-main {
    width: 100%;
    background-color: white;
    position: relative;
}

.help-content {
    position: relative;
    z-index: 1;
    margin-bottom: 180px;
    margin-top: 60px;
}

.help-title {
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 60px 0;
}

.help-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.help-list {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin: 0;
    font-size: 18px;
    gap: 20px;
}

.help-list li::marker {
    display: block;
    color: #C9D4D9;
}

.help-image-first,
.help-image-second {
    width: 25%;
    position: absolute;
    z-index: 0;
}

.help-image-first {
    top: 30%;
    left: 3%;
}

.help-image-second {
    bottom: 5%;
    right: 5%;
}

@media (min-width: 1900px) {
    .help-image-first,
    .help-image-second {
        width: 20%;
    }

    .help-image-first {
        top: 35%;
        left: 5%;
    }

    .help-image-second {
        bottom: 0%;
        right: 10%;
    }
}

@media (min-width: 720px) and (max-width: 1200px) {
    .help-content {
        margin-bottom: 60px;
    }

    .help-title {       
        margin-bottom: 20px;
    }

    .help-image-first,
    .help-image-second {
        width: 30%;
    }

    .help-image-first {
        top: 35%;
        left: 0%;
    }

    .help-image-second {
        bottom: 30%;
        right: 0%;
    }
}

@media (max-width: 719px) {
    .help-content {
        margin-top: 40px;
        margin-bottom: 50px;
    }
    
    .help-title {
        font-size: 32px;
        margin-bottom: 10px;
    }
}