.help-main {
    width: 100%;
    background-color: white;
    position: relative;
}

.help-content {
    position: relative;
    z-index: 1;
    margin-bottom: 160px;
}

.help-title {
    font-size: 40px;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 40px;
}

.help-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.help-list {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-size: 18px;
    gap: 20px;
}

.help-list li::marker {
    display: block;
    color: #C9D4D9;
}

.help-image-first,
.help-image-second {
    width: 25%;
    position: absolute;
    z-index: 0;
}

.help-image-first {
    top: 30%;
    left: 3%;
}

.help-image-second {
    bottom: 5%;
    right: 5%;
}

@media (min-width: 1900px) {
    .help-image-first,
    .help-image-second {
        width: 20%;
    }

    .help-image-first {
        top: 35%;
        left: 5%;
    }

    .help-image-second {
        bottom: 0%;
        right: 10%;
    }
}
