.slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slider-content {
    overflow: hidden;
}

.slider-items {
    display: flex;
    transition: transform 0.8s ease-in-out;
    width: 100%;
}

.slider-item {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.slider-arrow {
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.slider-arrow.right {
    transform: rotate(180deg);
}