.serviceUnit-rear-block {
    width: 20.5vw;
    min-height: 51vh;
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 5px #E8DDD8;
    justify-content: center;
    align-items: center;
}

.serviceUnit-block {
    width: 20vw;
    min-height: 50vh;
    display: block;
    border-radius: 5px;
    border: 1px solid #D2BEB5;
    box-sizing: border-box;
    background-color: #FFF;
    padding: 10px;
    text-align: justify;
}

.serviceUnit-title {
    font-weight: 400;
    margin: 0;
}

.serviceUnit-text {
    margin-top: 10px;
}

@media (min-width: 1920px) {
    .serviceUnit-title {
        font-size: 30px;
    }

    .serviceUnit-text {
        font-size: 24px;
    }
}

@media (min-width: 2560px) {
    .serviceUnit-title {
        font-size: 40px;
    }

    .serviceUnit-text {
        font-size: 30px;
    }
}

@media (max-width: 720px) {
    .serviceUnit-rear-block {
        width: 310px;
        min-height: 350px;
        margin-bottom: 30px;
    }
    
    .serviceUnit-block {
        width: 300px;
        min-height: 340px;
    }
    
    .serviceUnit-title {
        font-size: 20px;
    }
    
    .serviceUnit-text {
        margin-top: 18px;
    }
}