.aboutMe-main {
    width: 100%;
    background-color: white;
    display: flex;
}

.aboutMe-content {
    display: flex;
    flex-direction: column;
}

.aboutMe-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    gap: 60px;
    margin-bottom: 60px;
}

.aboutMe-center {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin-top: -15vh;
    margin-bottom: 40px;
}

.aboutMe-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-bottom: 60px;
}

.aboutMe-textblock {
    display: flex;
    flex-direction: column; 
    text-align: justify;
}

.aboutMe-title {
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.aboutMe-text {
    font-size: 18px;
    margin: 0 10px 0 0;
}

p.aboutMe-text {
    margin-bottom: 20px;
}

ul.aboutMe-text {
    list-style: circle;
    padding-left: 25px;
}

.aboutMe-photo-block-first,
.aboutMe-photo-block-second {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #E8DDD8;
    background: #F5EDE8;
    box-shadow: 0px 2px 10px 3px #E8DDD8; 
}

.aboutMe-photo-first,
.aboutMe-photo-second {
    width: 350px;
    height: 450px;
    border-radius: 10px;
    object-fit: cover;
    object-position: bottom;
}

@media (min-width: 1900px) {
    .aboutMe-photo-first,
    .aboutMe-photo-second {
        width: 400px;
        height: 500px;
    }
}

@media (max-width: 719px) {
    .aboutMe-content {
        flex-direction: column;
    }
    
    .aboutMe-top {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 40px;
        gap: 0px;
        margin-bottom: 20px;
    }
    
    .aboutMe-bottom {
        flex-direction: column;
        align-items: center;
        gap: 0px;
        margin-bottom: 50px;
    }
    
    .aboutMe-title {
        font-size: 32px;
        margin: 0 0 20px 0;
    }
    
    .aboutMe-text {
        font-size: 18px;
    }

    ul.aboutMe-text {
        margin-bottom: 20px;
    }
    
    .aboutMe-photo-first,
    .aboutMe-photo-second {
        width: 345px;
        height: auto;
    }
}

@media (min-width: 720px) and (max-width: 1200px) {    
    .aboutMe-top {
        align-items: center;
        gap: 40px;
    }
    
    .aboutMe-center {
        margin-top: -50px;
        justify-content: unset;
        gap: 40px;
    }
    
    .aboutMe-photo-first,
    .aboutMe-photo-second {
        width: 250px;
        height: 350px;
    }
}