.aboutMe-main {
    width: 100%;
    background-color: white;
    display: flex;
    position: relative;
    z-index: 1;
}

.aboutMe-content {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.aboutMe-textblock {
    display: flex;
    flex-direction: column; 
    text-align: justify;
}

.aboutMe-title {
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.aboutMe-text {
    font-size: 18px;
    margin: 0 0 20px 0;
    text-align: justify;
}

.aboutMe-photo {
    width: 30vw;
    height: 75vh;
    border-radius: 10px;
    object-fit: cover;
    object-position: bottom;
}

.aboutMe-image {
    position: absolute;
    width: 35vw;
    height: auto;
    right: 10%;
    bottom: 0;
    z-index: -1;
}

.aboutMe-tabletRow {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

@media (min-width: 1900px) {
    .aboutMe-photo {
        width: 30vw;
        height: 65vh;
    }
}

@media (max-width: 719px) {
    .aboutMe-content {
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 50px;
        gap: 0;
    }
    
    .aboutMe-title {
        font-size: 32px;
        margin-bottom: 10px;
    }
    
    .aboutMe-text {
        font-size: 18px;
    }

    .aboutMe-frame {
        margin: auto;
        margin-bottom: 20px;
    }
    
    .aboutMe-photo {
        width: 330px;
        height: 370px;
    }
}

@media (min-width: 720px) and (max-width: 1200px) {    
    .aboutMe-content {
        flex-direction: column;
        gap: 0px;
    }

    .aboutMe-photo {
        width: 300px;
        height: 370px;
    }

    .aboutMe-image {
        width: 45vw;
        right: 5%;
    }
}