.header {
    width: auto;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
    position: relative;
    animation: fadeInDown 0.8s ease-out forwards;
    animation-delay: 0.2s;
    opacity: 0;
    z-index: 2;
    margin: 0;
}

.separate-flower {
    width: 18px;
    height: 15px;
}

.header-button {
    cursor: pointer;
    font-size: 18px;
    margin: 0;
}
  
.header-button::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.3s ease;
    margin-top: 1px;
}
  
.header-button:hover::after {
    width: 100%;
}

/*mobile classes*/

.header-main-button {
    display: flex;
    width: 44px;
    height: 44px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    border: none;
    background-color: rgba(113, 165, 188, 1);
    margin: 15px 20px 0px 0px;
    position: fixed;
    transition: top 0.3s;
}

.header-vector {
    width: 16px;
    height: 0px;
    border: 1px solid white;
}

.header-rear-block {
    width: 100vw;
    display: flex;
    padding: 5px 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    text-align: center;
    top: -100vh;
    background-color: white;
    border-radius: 0 0 15px 15px;
    z-index: 1;
}

.header-open {
   animation: open 0.8s ease-in-out forwards;
}
  
.header-close {
    animation: close 0.8s ease-in-out forwards;
}

@keyframes open {
    0% {
      top: -100vh;
    }
    100% {
      top: 0%
    }
}
  
@keyframes close {
    0% {
      top: 0%
    }
    100% {
      top: -100vh
    }
}

.header-dropdown-menu {
    width: 97%;
    height: auto;
    min-height: 450px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #D2BEB5;
    border-radius: 10px;
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 20px;
}

.header-dropdown-menu-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-title {
    width: 100px;
    font-size: 42px;
    font-weight: 400;
    margin: 15px 0 0 10px;
}

.header-close-button {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid #D2BEB5;
    background: #FFF;
    margin: 8.5px 13px 0px 0px;
}

.header-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
  
.overlay-open {
    display: block;
    animation: fadeIn 0.8s ease-in-out;
}
  
.overlay-close {
    display: none;
}

@media (min-width: 1920px) {
    .header {
        height: 80px;
    }

    .separate-flower {
        width: 20px;
        height: 20px;
    }
    
    .header-left {
        height: 80px;
    }
}

@media (max-width: 719px) {
    .header {
        width: 100%;
        justify-content: end;
        position: fixed;
        align-items: center;
        left: 0;
    }
}

@media (min-width: 719px) {
    .header {
        width: 100%;
        justify-content: end;
        position: fixed;
        top: 0;
        align-items: center;
        left: 0;
    }

    .header-main-button {
        margin: 15px 29px 0px 0px;
    }

    .header-rear-block {
        padding: 10px 0;
    }

    .header-dropdown-menu {
        width: 98%;
    }
}