.header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: fadeInDown 0.8s ease-out forwards;
    animation-delay: 0.2s;
    opacity: 0;
}

.header-left {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.separate-flower {
    width: 18px;
    height: 15px;
}

.header-button {
    cursor: pointer;
    font-size: 18px;
    margin: 0;
}
  
.header-button::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.3s ease;
    margin-top: 1px;
}
  
.header-button:hover::after {
    width: 100%;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 1920px) {
    .header {
        height: 80px;
    }

    .separate-flower {
        width: 20px;
        height: 20px;
    }
    
    .header-left {
        height: 80px;
    }
}