.principles-main {
    width: 100%;
    background-color: #F5EDE8;
    position: relative;
    display: flex;
    overflow-x: hidden;
}

.principles-content {
    display: flex;
    flex-direction: row;
    gap: 40px;
    position: relative;
    z-index: 1;
    margin-top: 60px;
    margin-bottom: 60px;
}

.principles-photo {
    width: 30vw;
    height: 75vh;
    border-radius: 10px;
    object-fit: cover;
    object-position: bottom;
}

.principles-title {
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.principles-list {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin: 0;
    font-size: 18px;
    gap: 20px;
}   

.principles-list li::marker {
    display: block;
    color: #C9D4D9;
}

.principles-image {
    position: absolute;
    width: 35%;
    height: auto;
    right: 10%;
    bottom: 5%;
    z-index: 0;
    transform: rotate(-15deg);
}

@media (min-width: 1900px) {
    .principles-photo {
        width: 30vw;
        height: 65vh;
        object-position: center;
    }
}