.education-main {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    overflow: hidden;
}

.education-content {
    position: relative;
    z-index: 1;
    margin-top: 60px;
    margin-bottom: 60px;
}

.education-title {
    font-weight: 400;
    font-size: 40px;
    margin: 0 0 40px 0;
}

.education-slider-content {
    width: 70%;
}

.education-sensSlider-container {
    padding-top: 10px;
}

.education-slider-item {
    min-width: 100%;
}

.education-slider-arrow.left {
    margin-bottom: 50px;
    left: 120px;
}

.education-slider-arrow.right {
    margin-bottom: 50px;
    right: 120px;
}

.education-slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education-photo {
    width: 40vw;
    border-radius:10px; 
}

.education-frame {
    margin-bottom: 40px;
}

.education-subtitle {
    font-size: 24px;
    margin: 0;
    font-weight: 400;
}

.education-image-first,
.education-image-second {
    position: absolute;
    z-index: 0;
    bottom: 0;
    top: 22%;
    transform: scaleX(-1);
}

.education-image-first {
    width: 15%;
    height: auto;
    left: 7%;
}

.education-image-second {
    width: 20%;
    height: auto;
    left: 74%;
}

@media (min-width: 1900px) {
    .education-image-first,
    .education-image-second {
        top:15%;
    }
}

@media (max-width: 719px) {
    .education-title {
        font-size: 32px;
        margin: 0 0 10px 0;
    }

    .education-content {
        margin-top: 40px;
        margin-bottom: 50px;
    }
    
    .education-frame {
        margin-bottom: 20px;
    }
    
    .education-photo {
        width: 330px;
    }

    .education-subtitle {
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }    
}

@media (min-width: 720px) and (max-width: 1200px) {    
    .education-photo {
        margin-bottom: 60px;
    }
    
    .education-image-first {
        width: 20vw;
    }
    
    .education-image-second {
        width: 15vw;
    }
    
    .education-image-third {
        width: 25vw;
        left: 70vw;
    }
}