.education-main {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    overflow: hidden;
}

.education-content {
    position: relative;
    z-index: 1;
    margin-top: 60px;
    margin-bottom: 60px;
}

.education-title {
    font-weight: 400;
    font-size: 40px;
    margin: 0 0 40px 0;
}

.education-slider-content {
    width: 70%;
}

.education-slider-item {
    min-width: 100%;
}

.education-slider-arrow.left {
    margin-bottom: 50px;
    left: 120px;
}

.education-slider-arrow.right {
    margin-bottom: 50px;
    right: 120px;
}

.education-slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education-photo {
    width: 40vw;
}

.education-frame {
    margin-top: 10px;
    margin-bottom: 40px;
}

.education-subtitle {
    font-size: 24px;
    margin: 0;
    font-weight: 400;
}

.education-image-first,
.education-image-second {
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.education-image-first {
    width: 15%;
    height: auto;
    left: 7%;
    top: 21%;
    transform: scaleX(-1);
}

.education-image-second {
    width: 20%;
    height: auto;
    left: 74%;
    top: 21%;
    transform: scaleX(-1);
}

.education-bgArrow {
    margin-bottom: 30px;
}

@media (min-width: 1900px) {
    .education-image-first {
        top:15%;
    }
    
    .education-image-second {
        top:15%;
    }
}

@media (min-width: 2500px) {
    .education-image-first {
        height: 65vh;
        width:auto;
    }
    
    .education-image-second {
        height: 60vh;
        width:auto;
    }
    
    .education-image-third {
        height: 70vh;
        width:auto;
    }
}

@media (max-width: 719px) {
    .education-title {
        font-size: 32px;
        margin: 40px 0 0 0;
    }
    
    .education-subtitles{
        margin-top: 20px;
    }
    
    .education-subtitle {
        font-size: 20px;
    }
    
    .education-slider-main {
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    
    .education-photo {
        width: 280px;
        margin-bottom: 20px;
    }
    
    .education-image-first {
        height: 45vh;
        width:auto;
        left: 0vw;
    }
    
    .education-image-third {
        height: 45vh;
        width:auto;
        left: 60vw;
    }
}

@media (min-width: 720px) and (max-width: 1200px) {    
    .education-photo {
        margin-bottom: 60px;
    }
    
    .education-image-first {
        width: 20vw;
    }
    
    .education-image-second {
        width: 15vw;
    }
    
    .education-image-third {
        width: 25vw;
        left: 70vw;
    }
}