.textItem-rear-block {
    padding: 5px;
    display: flex;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 10px 3px #E8DDD8;
    justify-content: center;
    align-items: stretch;
}

.textItem-block {
    width: 20vw;
    display: block;
    border-radius: 10px;
    border: 1px solid #D2BEB5;
    box-sizing: border-box;
    background-color: #FFF;
    padding: 10px;
}

.textItem-title {
    font-weight: 400;
    margin: 0;
}

.textItem-text {
    margin-top: 10px;
    margin-bottom: 0;
}

@media (min-width: 1900px) {
    .textItem-block {
        width: 16vw;
    }
}

@media (min-width: 2500px) {
    .textItem-block {
        width: 12vw;
    }
}

@media (max-width: 719px) {
    .textItem-rear-block {
        width: 310px;
        min-height: 350px;
        margin-bottom: 30px;
        animation: fadeInUp 0.8s ease-out forwards;
        padding: 1px;
    }
    
    .textItem-block {
        width: 300px;
        min-height: 340px;
    }
    
    .textItem-title {
        font-size: 20px;
    }
    
    .textItem-text {
        margin-top: 18px;
    }
}

@media (min-width: 720px) and (max-width: 1200px) {
    .textItem-block {
        width: 300px;
        height: fit-content;
        min-height: 350px;
    }
    
    .textItem-title {
        font-weight: 400;
        margin: 0;
    }
    
    .textItem-text {
        margin-top: 10px;
    }
}