.serviceUnit-rear-block {
    padding: 5px;
    display: flex;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 10px 3px #E8DDD8;
    justify-content: center;
    align-items: center;
    animation: fadeInUp var(--animation-duration) ease-out forwards;
}

.serviceUnit-block {
    max-width: 20vw;
    min-height: 350px;
    height: fit-content;
    display: block;
    border-radius: 10px;
    border: 1px solid #D2BEB5;
    box-sizing: border-box;
    background-color: #FFF;
    padding: 10px;
    text-align: justify;
}

.serviceUnit-title {
    font-weight: 400;
    margin: 0;
}

.serviceUnit-text {
    margin-top: 10px;
}

@media (min-width: 1920px) {
    .serviceUnit-block {
        min-height: 500px;
    }

    .serviceUnit-title {
        font-size: 30px;
    }

    .serviceUnit-text {
        font-size: 24px;
    }
}

@media (min-width: 2560px) {
    .serviceUnit-block {
        min-height: 600px;
    }

    .serviceUnit-title {
        font-size: 40px;
    }

    .serviceUnit-text {
        font-size: 30px;
    }
}

@media (max-width: 719px) {
    .serviceUnit-rear-block {
        width: 310px;
        min-height: 350px;
        margin-bottom: 30px;
        animation: fadeInUp 0.8s ease-out forwards;
        padding: 1px;
    }
    
    .serviceUnit-block {
        width: 300px;
        min-height: 340px;
        max-width: none;
    }
    
    .serviceUnit-title {
        font-size: 20px;
    }
    
    .serviceUnit-text {
        margin-top: 18px;
    }
}

@media (min-width: 720px) and (max-width: 1200px) {
    .serviceUnit-block {
        width: 300px;
        height: fit-content;
        max-width: none;
        min-height: 350px;
    }
    
    .serviceUnit-title {
        font-weight: 400;
        margin: 0;
    }
    
    .serviceUnit-text {
        margin-top: 10px;
    }
}